/*------------------------------ colours*/
.bg-standard-blue {
    background-color: #c8e3ee;
}

/*------------------------------ Miscellanious*/



.standardDivider {
    border-top: 3px solid #80bdff ;
    margin: 5vh 5vw 5vh 5vw;

    
}

/*------------------------------ navbar*/

.navbar-brand {
    max-width: 40%;
}

.navbar img {
    width: 100%;
    height: auto;
}

.navbar-nav {
    font-size: 20px;
}

/*------------------------------ landing page*/


.welcomeSection {
    background: url("../images/monkeeswide.jpg");
    background-position: 75% 15%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
}

.landingPageButton {
    margin-top:2vh;
}

.landingpageVideo {
    width: 80%;
    height: 100%;
}

/*.welcomeText {*/
/*    color: #fafafa;*/
/*    font-size: 5vw;*/
/*    position: relative;*/
/*    top: 40vh;*/
/*    left: 40vw;*/
/*}*/

.alignPicture {
    width: 100%;
    height: auto;
    padding: 5px;
}

