/*------------------------------ colors*/
.bg-standard-blue {
    background-color: #c8e3ee;
}

/*alternate slightly darker blue*/
.bg-alt-blue {
    background-color: #b8d2ef;
}

.bg-standard-yellow {
    background-color: #edda95;
}

.header-color {
    color: #cd9771;
}

.paragraph-font-color {
    color: #521a1a;
}

/*------------------------------ general classes for multiple pages*/
.standardDivider {
    border-top: 3px solid #80bdff ;
    margin: 5vh 10vw 5vh 10vw;
}

.standardSectionHeader {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2vh;
    padding-top: 2vh;
}

.paragraph-font-style {
    color: #521a1a;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;  
}

.headerShadow {
    text-shadow: 1.5px 1.5px #6b6c6d;
}

/*------------------------------ navbar*/
.navbar-brand {
    max-width: 40%;
    margin-right: 5vw;
    margin-bottom: 3vw;
}

.navbar img {
    width: 100%;
    height: auto;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-right: 1vw;
    color:#e80815; /*same color as logo*/
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #a6c099;
}

/*------------------------------ landing page - general*/
.landingPageButton {
    margin-top:4vh;
    margin-bottom:4vh;
    background-color: #a6c099;
    border-color: transparent;
}

/*------------------------------ landing page - Main image and lyrics*/
.welcomeSection {
    background: url("../images/monkeeswide.jpg");
    background-position: 75% 15%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.welcomeText {
    font-family: 'Galada', cursive, sans-serif;
    color: #fafafa;
    font-size: 2rem;
}

/*------------------------------ landing page - member images and names*/
.alignPicture {
    width: 100%;
    height: auto;
    padding: 2vw;
}

.memberNames {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}

/*------------------------------ landing page - video*/
.landingpageVideo {
    width: 80%;
    height: 100%;
}

/*------------------------------ About page*/
.pictureBandmember {
    max-width: 100%;
    height: auto;
    margin: 7vh auto 2vh auto;
}

.moreInfoButton {
    margin-top:4vh;
    margin-bottom: 4vh;
    background-color: #a6c099;
    border-color: transparent;
}

.descBandmember {
    margin:4vh auto 4vh auto;
}

/*------------------------------ Footer*/
footer {
    background-color: #dfa87f;
    /*margin-top: 3vh;*/
    height: 10vh;
}

footer .row {
    height: 100%;
}    

.socialIcons {
    text-align: center;
}

.socialIcons a i {
    color: #fafafa;
    font-size: 5vh;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out; 
    margin: 1vw;
}

.socialIcons a i:hover {
    color: #e80815;
}

/*------------------------------ Media page*/
/*------------------------------ Carousel section*/
.carouselSection {
    padding-top: 2vh;
}

.carousel {
    max-width: 70%;
    margin: auto;
    padding-bottom: 4vh;
}

.audioImage {
    width: 60%;
    height: auto;
}
/*------------------------------ Audio section*/
.mp3Player {
    margin-top: 2vh;
    margin-bottom: 4vh;
    width: 70%;
}

/*------------------------------ Hire us page*/
.center-form {
    width: 90%;
    margin: auto;
}

.formSubmitButton {
    background-color: #a6c099;
    border-color: transparent;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

/*------------------------------ media queries*/
/*Using bootstrap breakpoints (576, 768, 992, 1200)*/
@media (min-width: 576px) {  
    .navbar-brand {
        max-width: 30%;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {  
    .navbar-brand {
        max-width: 25%;
    }
    .standardSectionHeader {
        font-size: 3.5rem;
    }
    .memberNames {
        font-size: 2.5rem;
    }
    .moreInfoButton {
        visibility: hidden;
        font-size: 0rem;
    }
    #toggleText01,#toggleText02,#toggleText03,#toggleText04 {
        display: block;
    }
}
 
@media (min-width: 992px) { 
    .navbar-light .navbar-nav .nav-link {
        font-size: 2.5rem;
    }
    .welcomeSection {
        width: 80%;
        margin: auto;
    }
    .imageSectionRow {
        width: 80%;
        margin: auto;
    }
    .center-form {
        width: 60%;
        margin: auto;
    }
}
 
@media (min-width: 1200px) {  
    .navbar-brand {
        max-width: 20%;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 3rem;
    }
    .sectionAboutPage {
        width:80%;
        margin:auto;
    }
}

@media screen and (min-aspect-ratio: 1/1) {
   .carousel {
        max-width: 35%;
    }    
    .videoSection {
        width: 70%;
    }
}

