/*------------------------------ colours*/
.bg-standard-blue {
    background-color: #c8e3ee;
}

/*------------------------------ Miscellanious*/
.standardDivider {
    border-top: 3px solid #80bdff ;
    margin: 5vh 5vw 5vh 5vw;
}

/*------------------------------ navbar*/
.navbar-brand {
    max-width: 40%;
    margin-right: 10vw;
}

.navbar img {
    width: 100%;
    height: auto;
}

.navbar-nav {
    font-size: 1.2rem;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-right: 3vw;
    color:#e80815; /*same color as logo*/
}


/*------------------------------ landing page*/
.welcomeSection {
    background: url("../images/monkeeswide.jpg");
    background-position: 75% 15%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
}

.textBoxLandingpage {
    height:100%;
}

.welcomeText {
    font-family: 'Galada', cursive, sans-serif;
    color: #fafafa;
    font-size: 7vw;
}

.landingPageButton {
    margin-top:2vh;
    background-color: #a6c099;
    border-color: transparent;
}

.landingpageVideo {
    width: 80%;
    height: 100%;
}

.alignPicture {
    width: 100%;
    height: auto;
    padding: 2vw;
}

/*------------------------------ Footer*/
footer {
    background-color: #dfa87f;
    margin-top: 3vh;
    height: 10vh;
}

footer .row {
    height: 100%;
}    

.footerText {
    color: #fafafa;
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
}

.socialIcons {
    text-align: center;
}

.socialIcons a i {
    color: #fafafa;
    font-size: 5vh;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out; 
    margin: 1vw;
}

.socialIcons a i:hover {
    color: #e80815;
}

/*------------------------------ media queries*/
/*Using bootstrap breakpoints (576, 768, 992, 1200)*/
@media (min-width: 576px) {  
    .navbar-brand {
        max-width: 30%;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {  
    .navbar-brand {
        max-width: 25%;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 2rem;
    }        
    .welcomeText {
    font-size: 5vw;
}

}
 
@media (min-width: 992px) { 
    .navbar-brand {
        max-width: 25%;
    }    
    .navbar-light .navbar-nav .nav-link {
        font-size: 2.5rem;
    }
}
 
@media (min-width: 1200px) {  
    .navbar-brand {
        max-width: 20%;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 3rem;
    }
}

